.header-main {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin: 20px;
    font-size: 48px;
}

.heading-md {
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.main-content {
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.image-caption {
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.selected-works {
    list-style: none;
    background-color: #575757;
    color: whitesmoke;
    width: 100%;
    padding: 0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif
}

ul.selected-works {
    margin: 0;
}

.selected-works-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #3a3a3a;
    color: whitesmoke;
    text-align: center;
}

.selected-works-section-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #444444;
    padding-top: 5px;
    padding-bottom: 5px;
}

.book-name > a {
    font-style: italic;
    font-size: 14px;
    color: aqua;
    background-color: #4e4e4e;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}

.book-name {
    font-style: italic;
    font-size: 14px;
    color: aqua;
    background-color: #4e4e4e;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}

.selected-works > .book-information {
    padding-bottom: 4px;
}

.book-reviews {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style: none;
    color: black;
}

.book-reviews li {
    padding: 2px;
}

.book-reviews ul {
    padding: 5px;
}

.spacer-md {
    height: 10px;
}

.main-page-book tr {
    padding: 3px;
}

.main-page-book td {
    padding: 3px;
}

.main-page-book th {
    text-align: center;
    padding: 3px;
}

.review-citation {
    text-align: right;
    font-style: italic;
}

.review-citation a:link	{
    color: darkred;
}

.review-citation a:visited   {
    color:darkblue;
}

.review-citation a:hover {
    color:darkviolet;
}

.review-citation a:active    {
    color:green;
}

